<!DOCTYPE html>
<html lang="en">

<head>
    <title>Note taker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Notetaker</h1>
    </div>

    {{{ body }}}

</body>

</html>