<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Keeper</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Appointment Keeper</a>
            </h1>
            <nav>
                {{> nav }}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for using Appointment Keeper!
            <br>
            <br>
            Try our Responsive mobile view too!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>