<section class="centerArea">
    <h2>Create New Appointment</h2>
    <form class="new-post-form">
        <div>
            <label for="appointment-title">Appointment Title</label>
            <input type="text" id="appointment-title" name="appointment-title" />
        </div>
        <div>
            <label for="appointment-text">Appointment Info</label>
            <textarea type="text" name="appointment-text"></textarea>
            <label for="appointment-date">Appointment Date</label>
            <input type="text" id="appointment-date" name="appointment-date" /> {{ format_date}}
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>