<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
  integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<div class="dashboard">
  <div class="itemInDash1">
    <h2>Next Appointment</h2>
    <div id="nextAppt">
      <h5>-This is the next Appointment-</h5>
    </div>
  </div>
  <div class="itemInDash2">
    <h2>Calendar</h2>
    <div id="calendar"></div>
  </div>
  <div class="itemInDash3">
    <h2>Quote</h2>
    <div id="quote">
      <h3>“Today’s Accomplishments Were Yesterday’s Impossibilities.” – Robert H. Schuller</h3>
    </div>
  </div>
  <div class="itemInDash4">
    <h2>List of All Appointments</h2>
    <div id="listOfAppts">
      <h5>Appointment Item will go here</h5>
      <h5>Appointment Item will go here</h5>
      <h5>Appointment Item will go here</h5>
      <h5>Appointment Item will go here</h5>
      <h5>Appointment Item will go here</h5>
      <h5>Appointment Item will go here</h5>
    </div>
  </div>
</div>


<script src="/javascript/calendar.js"></script>