<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
  integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<div class="dashboard">
  <div class="itemInDash1">
    <h2><span class="fa fa-chevron-circle-down"></span> Create Appointment <span
        class="fa fa-chevron-circle-down"></span>
    </h2>
    <div id="nextAppt">
      <a class="btn btn-primary btn-lg mt-4 createAppointment" href="/appointment" role="button">
        <h3>CREATE</h3>
      </a>
    </div>
  </div>
  <div class="itemInDash2">
    <h2>Calendar</h2>
    <div id="calendar"></div>
  </div>
  <div class="itemInDash3">
    <h2>Quote</h2>
    <div id="quote">
      <h3>“Today’s Accomplishments Were <br> Yesterday’s Impossibilities.” <br> – Robert H. Schuller</h3>
    </div>
  </div>
  <div class="itemInDash4">
    <h2>List of All Appointments</h2>
    <div id="listOfAppts">
      {{#if posts.length}}
      <section>
        <ul class="apptList">
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Appointment</a>
          </li>
          {{/each}}
        </ul>
      </section>
      {{/if}}
    </div>
  </div>
</div>
<script src="/javascript/calendar.js"></script>
