<h2 class="topTitle">Click on a day to get Started</h2>
<a class="btn btn-primary btn-lg mt-4 createAppointment" href="/appointment" role="button">CREATE APPOINTMENT</a>
<div id="calendar">
  <div class="myMonth"></div>
</div>

<script src="/javascript/calendar.js"></script>