<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
  integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<h2 class="topTitle"><span class="fa fa-chevron-circle-down"></span> CLICK THIS <span
    class="fa fa-chevron-circle-down"></span></h2>
<a class="btn btn-primary btn-lg mt-4 createAppointment" href="/appointment" role="button">Start Here</a>