<h1 class="topTitle"><span class="fa fa-chevron-circle-down"></span> CLICK THIS <span
    class="fa fa-chevron-circle-down"></span></h1>
<div class="startingpoint">
  {{#if loggedIn}}
  <a class="btn btn-primary btn-lg mt-4 createAppointment" href="/appointment" role="button">Start Here</a>
  {{else}}
  <a class="btn btn-primary btn-lg mt-4 createAppointment" href="/login" role="button">Start Here</a>
  {{/if}}
</div>