{{!-- login form --}}
<<<<<<< Updated upstream
<div class="centerArea">
    <div class="left">
        <form class="login-form">
            <h2>Login</h2>
            <div>
                <label for="email-login">email:</label>
                <input type="text" id="email-login" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    {{!-- sign up form --}}
    <div class="right">
        <form class="signup-form">
            <h2>Sign Up</h2>
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="email-signup">email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/login.js"></script>
=======

<form action="/login" method="post" class="login-form">
    <div>
        <label>Username:</label>
        <input type="text" name="username" id="username-login"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" id="password-login"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

{{!-- sign up form --}}
<form action="/login" method="post" class="signup-form">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    {{!-- <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div> --}}
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">sign up</button>
    </div>
</form>

<script src="/javascript/login.js"></script>
>>>>>>> Stashed changes
