{{!-- login form --}}
<div class="centerArea">
    <div class="left">
        <form class="login-form">
            <h2>Login</h2>
            <div>
                <label for="email-login">email:</label>
                <input type="text" id="email-login" placeholder="john.cena@email.com" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" placeholder="johnCena1234" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    {{!-- sign up form --}}
    <div class="right">
        <form class="signup-form">
            <h2>Sign Up</h2>
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" placeholder="john.cena" />
            </div>
            <div>
                <label for="email-signup">email:</label>
                <input type="text" id="email-signup" placeholder="john.cena@email.com" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" placeholder="johnCena1234" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>